<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p><%= paraContent %></p>
    <% array.forEach( (element) => { %>
        <h1><%= element.blogTitle %></h1>
        <p><%= element.blogBody.substring(0,100) + " ..." %></p>
        <a href="/posts/<%=element.blogTitle%>">Read More</a>
    <% }); %>
<%- include('partials/footer'); -%>